<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="auth-card">
    <h2>Forgot Password</h2>
    <p class="subtitle">Enter your college email to receive OTP</p>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <button class="btn-primary" type="submit">Send OTP</button>
    </form>

    <div style="margin-top: 15px; text-align:center;">
        <a href="{{ url_for('college_auth') }}" style="text-decoration:none;">
            Back to Login
        </a>
    </div>
</div>

</body>
</html>
